@import url(main_products.css);

.cart_list {
    width: 80vw;
    min-height: 69vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.cart_list ul, #cart_preview {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.cart_list ul {
    max-width: 790px;
    height: 53vh;
    overflow-y: scroll;
    overflow-x: auto;
    padding-right: 1em;
    padding-left: 1em;
}

.cart_list ul::-webkit-scrollbar {
    background-color: rgb(56, 19, 156);
    border-radius: 10px;
}

.cart_list ul::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px -5px #000000;
    border: 2px solid rgb(56, 19, 156);
}

.cart_list li {
    list-style: none;
    width: 100%;
    display: flex;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px #000000;
    border: 2px solid rgb(56, 19, 156);
}

.cart_list li img {
    max-width: 200px;
    margin: -2px;
}

.item_image {
    object-position: center;
    object-fit: cover;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.cart_list li button, #cart_preview button {
    width: 20px;
    height: 20px;
    background-color: transparent;
    appearance: none;
    border: none;
    cursor: pointer;
    margin-bottom: 1em;
    margin-right: 1em;
    transition: ease-in-out 0.3s;
}

.item_details, .item_side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}

.item_details {
    gap: 1em;
}

.item_side {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

@keyframes buttons_animation {
    0% {
        transform: rotate(0) translateY(0);
    }
    33% {
        transform: rotate(15deg)  translateY(-3px);
    }
    66% {
        transform: rotate(-15deg)  translateY(-3px);
    }
    100% {
        transform: rotate(0) translateY(0);
    }
}

.item_buttons {
    display: flex;
    justify-content: flex-end;
}

.item_buttons button:hover {
    animation: ease-in-out;
    animation-name: buttons_animation;
    animation-duration: 0.5s;
}

.delete_button {
    z-index: 10;
}

#cart_preview #delete_button {
    width: 30px;
}

#cart_preview #delete_button:hover {
    animation: ease-in-out;
    animation-name: buttons_animation;
    animation-duration: 0.5s;
}

#selected_item_total {
    font-size: x-large;
    font-weight: 700;
}

#cart_preview {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px #000000;
    border: 2px solid rgb(56, 19, 156);
    background-color: white;
    font-size: x-large;
}

#cart_preview span {
    height: 30px;
    border-right: 1px solid black;
    padding-right: 1em;
}

#cart_preview div {
    display: flex;
    align-items: center;
    gap: 1em;
}

#to_confirm_button {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5em;
    align-items: center;
    font-size: small;
    font-weight: 900;
    text-decoration: none;
    border-right: 1px solid black;
    padding-right: 2em;
}

#to_confirm_button:visited {
    color: black;
}

#to_confirm_button img {
    width: 40px;
    object-position: center;
    object-fit: cover;
}

#to_confirm_button img:hover {
    animation: ease-in-out;
    animation-name: cart_animation;
    animation-duration: 0.5s;
}


@media (max-width: 720px) {
    .cart_list li {
        flex-direction: column;
    }
    .cart_list li img {
        max-width: calc(100% + 4px);
        border-bottom-left-radius: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .item_side {
        flex-direction: row-reverse;
    }
}