#product_view {
    width: 80vw;
}

.card_product {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 15px -5px #000000;
}

.card_product img {
    width: 100%;
    height: 500px;
    overflow: hidden;
    object-position: center;
    object-fit: cover;
    position: relative;
}

.details_products {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid black;
    padding: 1em;
}

.card_footer {
    display: flex;
    justify-content: space-between;
}

.option_selection {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.option_selection span {
    border-top: 1px solid black;
    padding-top: 0.5em;
}

select {
    width: 100px;
    height: 2em;
    padding-left: 0.5em;
    color: rgb(56, 19, 156);
    font-weight: 700;
}

option {
    font-weight: 700;
}

.card_footer button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    appearance: none;
    border: none;
    cursor: pointer;
    margin-bottom: 1em;
    margin-right: 1em;
    transition: ease-in-out 0.3s;
}

@keyframes cart_plus_minus_animation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

#amount_selection {
    display: flex;
    align-items: center;
    gap: 0.8em;
}

#amount_selection button {
    width: 25px;
    height: 25px;
    margin: 0;
}

#amount_selection button:hover {
    animation: ease-in-out;
    animation-duration: 0.5s;
    animation-name: cart_plus_minus_animation;
}

#actual_amount_selected {
    font-size: large;
}

@keyframes cart_animation {
    0% {
        transform: rotate(0) translateY(0);
    }
    33% {
        transform: rotate(15deg)  translateY(-3px);
    }
    66% {
        transform: rotate(-15deg)  translateY(-3px);
    }
    100% {
        transform: rotate(0) translateY(0);
    }
}

.card_footer button:hover {
    animation: ease-in-out;
    animation-name: cart_animation;
    animation-duration: 0.5s;
}

.card_footer img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
}