nav {
    width: 98%;
    display: flex;
    justify-content: flex-end;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1em;
    padding-right: 1em;
    padding-top: 1em;
    font-weight: 500;
}

nav a {
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}

nav a:visited {
    color: black;
}

nav a:hover {
    border-bottom: 3px solid rgb(56, 19, 156);
}

#cartButton {
    width: fit-content;
    height: fit-content;
    border: none;
    background: transparent;
    cursor: pointer;
    position: relative;
    
}

@keyframes go_to_cart_animation {
    0% {
        transform: scale(1);
    }
    33% {
        transform: scale(1.2);
    }
    66% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

#cartButton:hover img, #cartButton:hover span {
    animation: ease-in-out;
    animation-name: go_to_cart_animation;
    animation-duration: 0.5s;
    transform: scale(1.2);
}


#cartButton img {
    width: 35px;
    height: 35px;
    transition: ease-in-out 0.3s;
}

#cartButton span {
    width: 17px;
    height: 17px;
    /* padding: 2px 6px; */
    position: absolute;
    right: 12%;
    bottom: 137%;
    background-color: red;
    font-size: 10px;
    color: white;
    text-align: center;
    line-height: 17px;
    border-radius: 50%;
}