nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1em;
    padding-right: 1em;
    padding-top: 1em;
    font-weight: 500;
}

nav a {
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}

nav a:visited {
    color: black;
}

nav a:hover {
    border-bottom: 3px solid rgb(56, 19, 156);
}

#cartButton {
    width: fit-content;
    height: fit-content;
    border: none;
    background: transparent;
    cursor: pointer;
}

@keyframes go_to_cart_animation {
    0% {
        transform: scale(1);
    }
    33% {
        transform: scale(1.2);
    }
    66% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

#cartButton img:hover {
    animation: ease-in-out;
    animation-name: go_to_cart_animation;
    animation-duration: 0.5s;
    transform: scale(1.2);
}

#cartButton img {
    width: 35px;
    height: 35px;
    transition: ease-in-out 0.3s;
}